{% extends "URCoreBundle::mainLayout.html.twig" %}

{% block currentPage %}
	{{ form_start(form, {'action': path('ur_user_edit'), 'method': 'POST'}) }}
    {{ form_errors(form) }}

	<div class='form-group'>
		<h3>Informations de connexion</h3>
		{{ form_row(form.username) }}
		{{ form_row(form.password) }}
		{{ form_row(form.email) }}
	</div>
	<div class='form-group'>
		<h3>Informations utilisateur</h3>
		{{ form_row(form.lastname) }}
		{{ form_row(form.firstname) }}
		{{ form_row(form.phone) }}
		{{ form_row(form.address.address) }}
		{{ form_row(form.address.city) }}
		{{ form_row(form.address.postal_code) }}
		{{ form_row(form.address.country) }}
	</div>
	{{ form_row(form._token) }}
	{{ form_row(form.submit_edit) }}
	{{ form_end(form, {'render_rest': false}) }}
{% endblock %}

{% block scriptSection %}
{% endblock %}
