<div id='inside'>
	<div>
		<table class='table table-hover table-condensed' style='margin:0;'>
			{% if lists is empty %}
				<span>Vous n'avez pas de liste.</span>
			{% else %}
				{% for list in lists %}
					<tr class='addLink'  id='{{ list.id }}' style='cursor:pointer'>
						<td style='border:none;'>{{ list.name }}</td>
						<td style='border:none;'>{{ list.public }}</td>
					</tr>
				{% endfor %}
			{% endif %}
		</table>
	</div>
</div>

<script>
    $('.addLink').click(function(event) {
        event.preventDefault();
		var url = '{{ path('ur_user_list_push_product', {'idList': 'idList', 'idProduct': 'idProduct'}) }}'; 
		url = url.replace('idList', this.id);
		url = url.replace('idProduct', {{ idProduct }});
        // appel Ajax
		$.ajax({
		    type: "POST",
		    dataType: 'html',
		    url: url,
		})
		.done(function(response){
			$('#inside').html(response);
		})
		.fail(function(jqXHR, textStatus, errorThrown){
		    alert('Error : ' + errorThrown);
		})
    });
</script>